.formacao {
  background: #141414;
  color: #ffffff;
}

.formacao-container {
  position: relative;
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.formacao .subtitulo {
  color: #414141;
  max-width: 5ch;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 50ch;
  margin-bottom: 64px;
  color: #a3a3a3;
}

.formacao-texto strong {
  color: #ffffff;
}

.faculdade-lista {
  display: flex;
  margin-bottom: 60px;
}

.faculdade {
  display: flex;
  flex-direction: column;
  left: 210px;
  gap: 10px 20px;
  padding: 20px;
  background: #000000;
  border-radius: 4px;
  position: relative;
}

.faculdade-periodo {
  position: absolute;
  top: 60px;
  left: -50px;
  color: #a3a3a3;
  font-size: 0.875rem;
  text-align: right;
}

.faculdade-tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 10px;
}

.faculdade-curso {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 20px;
  position: relative;
}

.faculdade-curso::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#9752a5, #f804cf);
  position: absolute;
  left: -24px;
}

.faculdade-instituicao {
  font-size: 1.125rem;
  color: #a3a3a3;
}

.cursos,
.monitoria,
.idiomas {
  margin-bottom: 60px;
}

.formacao-extra h3 {
  font-size: 1rem;
  line-height: 2;
  color: #a3a3a3;
  text-transform: uppercase;
  position: relative;
}

.formacao-extra li {
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 20px;
}

.simbolos {
  display: block;
  width: 30px;
  position: relative;
  left: -35px;
  top: -32px;
}

.monitoria li,
.cursos li {
  display: flex;
  justify-content: space-between;
}

.monitoria li span,
.cursos li span,
.idiomas li span {
  color: #a3a3a3;
}

@media (max-width: 1200px) {
  .faculdade {
    left: 50px;
  }
}

@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }
  .formacao .subtitulo {
    color: #ffffff;
  }
  .formacao-texto {
    font-size: 1.25rem;
  }
  .simbolos {
    width: 25px;
    left: -18px;
    top: -30px;
  }

  .formacao-extra h3 {
    left: 10px;
  }
}

@media (max-width: 400px) {
  .faculdade {
    left: 10px;
  }
  .faculdade-periodo {
    color: #ffffff;
    width: 4.2ch;
    background: linear-gradient(#9752a5, #f804cf);
    border-radius: 4px;
    padding: 5px 10px;
    top: 90%;
    left: 70%;
  }
}
