.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao img {
  max-width: 100%;
  width: 400px;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 15px;
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 12px;
  height: 80px;
  background: linear-gradient(#9752a5, #f804cf);
  position: absolute;
  top: -5px;
  left: -20px;
}

.introducao p {
  font-size: 1rem;
  color: #525252;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .introducao h1 {
    font-size: 2rem;
  }

  .introducao h1::before {
    width: 6px;
    height: 40px;
    margin: 5px;
  }
}

@media (max-width: 400px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao img {
    display: none;
  }
}
